body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url(https://wallpapers.com/images/hd/girly-skull-g1ifdl10crf2ogku.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}
main h1 {
  font-size: 10rem;
  color: white;
  font-style: italic;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main p {
  position: relative;
  bottom: 80px;
  max-width: 600px;
  margin: 10px;
  color: white;
  font-size: 4rem;
  text-align: center;
}
main button {
  color: rgb(227, 198, 255);
  position: relative;
  bottom: 50px;
  border: solid 4px rgb(201, 143, 255);
  border-radius: 40px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 20px 30px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  text-align: center;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 20px rgba(201, 143, 255, 0.472);
}
main button:hover {
  background-color: rgb(201, 143, 255);
  transition: 0.5s ease-in-out;
  color: black;
  box-shadow: 0 0 40px rgb(201, 143, 255);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  background: rgba(154, 11, 250, 0.412);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.526);
  z-index: 100;
  position: fixed;
}

nav .logo-container {
  margin-left: 40px;
  color: white;
}

nav ul {
  margin-right: 40px;
  list-style: none;
  padding: 0;
  z-index: 101;
}

nav li {
  display: inline;
  margin-left: 30px;
}

nav li a {
  text-decoration: none;
  padding: 19px 23px;
  font-weight: 400;
  color: #e6e6e6;
  transition: 0.5s;
  border-radius: 10px;
}

nav li a:hover {
  transition: 0.5s;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.438);
}

.second-sec {
  background-color: rgba(0, 0, 0, 0.805);
  backdrop-filter: blur(30px);
}

.card {
  color: rgb(201, 143, 255);
  height: 500px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  line-height: 24px;
  margin: 8rem;
  position: relative;
}
.card .card-content {
  width: 100%;
  height: 100%;
  padding: 80px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card .card-content a {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 600px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(168, 75, 255);
  text-decoration: none;
}
.card .card-content .first-image, .second-image {
  /*
  width: 50%;
  max-width: 100px;
  */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(50, 7, 51, 0.3);
  margin-top: 20px;
}

.qoute {
  margin-top: 13rem;
  position: relative;
  bottom: 50px;
}

.qoute-img {
  width: 300px;
  height: 200px;
  margin: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.qoute-img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qoute-img:hover {
  transform: scale(1.1);
  border-color: blueviolet;
}
.qoute-img img {
  width: 300px; /* set a fixed width for all images */
  height: 200px; /* set a fixed height for all images */
}

.card .card-content h1 {
  color: blue;
}

.qoute .last {
  color: white;
}

.card.card-content a {
  color: black;
}/*# sourceMappingURL=styles.css.map */